.activity-single-head {
    position: relative;
    text-align: left;
    &:after {
        content: "";
        display: block;
        width: 100%;
        height: 30px;
        background: $color35;
    }
    picture {
        img {
            width: 100%;
        }
    }
    .header {
        position: absolute;
        top: 0;
        padding-left: 30px;
        padding-right: 30px;
        width: 100%;
        .title {
            h1 {
                margin-top: 60px;
                font-family: $font1;
                font-size: 36px;
                color: $color14;
                line-height: 1;
            }
            span {
                color: $color14;
            }
            time {
                color: $color14;
            }
        }
        .social {
            p {
                margin-top: 30px;
                margin-bottom: 5px;
                text-align: center;
                font-family: $font1;
                font-size: 28px;
                color: $white;
            }
            ul {
                list-style: none;
                margin: 0;
                text-align: center;
                li {
                    display: inline-block;
                    padding-right: 15px;
                    a {
                        display: inline-block;
                        padding: 7px;
                        border: 2px solid $white;
                        font-size: 30px;
                        line-height: 24px;
                        @include radius(50%);
                        span {
                            color: $white;
                        }
                    }
                    &:last-child {
                        padding-right: 0;
                    }
                }
            }
        }
    }
}

.activity-single {
	.row {
        .activity-single-head {
            .header {
                .title {
                    span {
                        display: inline-block;
                        color: $color14;
                    }
                    time {
                        display: inline-block;
                        padding-top: 10px;
                        color: $color14;
                    }
                }
            }
        }
        .content {
            .featured {
                position: relative;
                background-color: $color13;
                .row {
                    margin-left: 0;
                    margin-right: 0;
                    background-color: $white;
                    .item {
                        padding-left: 0;
                        padding-right: 0;
                        .image {
                            padding-left: 0;
                            padding-right: 0;
                            img {
                                width: 100%;
                            }
                            .controls {
                                position: absolute;
                                top: 50%;
                                left: 0;
                                margin-top: -40px;
                                width: 100%;
                                z-index: 1;
                                pointer-events: none;
                                vertical-align: middle;
                                .owl-controls {
                                    .owl-buttons {
                                        .nav-prev {
                                            .activity-prev {
                                                background: url('../img/btn-prev.png') no-repeat 0 0;
                                                width: 40px;
                                                height: 80px;
                                                text-indent: -9999px;
                                                pointer-events: visible;
                                            }
                                        }
                                        .nav-next {
                                            .activity-next {
                                                background: url('../img/btn-next.png') no-repeat 0 0;
                                                width: 40px;
                                                height: 80px;
                                                text-indent: -9999px;
                                                pointer-events: visible;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .desc {
                            position: relative;
                            min-height: 400px;
                            .points {
                                padding-top: 30px;
                                padding-left: 20px;
                                padding-right: 20px;
                                padding-bottom: 50px;
                                text-align: center;
                                p {
                                    font-family: $font1;
                                    font-size: 45px;
                                    line-height: 1;
                                    margin-bottom: 0;
                                    color: $color14;
                                }
                            }
                            ul {
                                position: absolute;
                                width: 100%;
                                bottom: 20px;
                                margin: 0;
                                list-style: none;
                                li {
                                    word-wrap: break-word;
                                    padding-bottom: 10px;
                                    .icon {
                                        display: inline-block;
                                        vertical-align: top;
                                        width: 15%;
                                        padding-left: 10px;
                                        span {
                                            display: inline-block;
                                            font-size: 30px;
                                            color: $color14;
                                            &.icon-act-location {
                                                padding-top: 10px;
                                            }
                                        }
                                    }
                                    .title {
                                        display: inline-block;
                                        width: 80%;
                                        p {
                                            margin-bottom: 0;
                                            padding-top: 0;
                                            font-family: $font1;
                                            font-size: 20px;
                                            line-height: 22px;
                                            color: $color12;
                                            a {
                                                word-wrap: break-word;
                                                color: $color12;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .curve {
                    position: absolute;
                    bottom: -1px;
                    width: 100%;
                    height: 25px;
                    background-color: $color13;
                    -moz-border-radius-topleft: 50% 25px;
                    border-top-left-radius: 50% 25px;
                    -moz-border-radius-topright: 50% 25px;
                    border-top-right-radius: 50% 25px;
                }
            }
            .feature-img {
                position: relative;
                .curve {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 15px;
                    background-color: $color8;
                    -moz-border-radius-topleft: 50% 25px;
                    border-top-left-radius: 50% 25px;
                    -moz-border-radius-topright: 50% 25px;
                    border-top-right-radius: 50% 25px;
                }
            }
            .activity-single-detail {
                padding-left: 50px;
                padding-right: 50px;
                background-color: $color13;
                article {
                    padding-top: 30px;
                    padding-bottom: 30px;
                    p {
                        display: block;
                        margin-bottom: 0;
                        padding-bottom: 0;
                        font-size: 18px;
                        color: $white;
                        a {
                            color: $white;
                        }
                    }
                }
                .gallery {
                    ul {
                        padding-left: 10px;
                        padding-right: 10px;
                        list-style: none;
                        li {
                            margin-bottom: 10px;
                            padding-left: 5px;
                            padding-right: 5px;
                            a {
                                img {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
                .more {
                    text-align: center;
                    .labels {
                        padding-top: 30px;
                        font-family: $font1;
                        font-size: 24px;
                        color: $white;
                    }
                    .icon {
                        clear: both;
                        display: block;
                        margin: 0 auto 30px;
                        width: 50px;
                        padding: 10px;
                        font-size: 30px;
                        border: 1px solid $white;
                        color: $white;
                        @include radius(50%);
                        @include animated(0.33s);
                    }
                }
            }
            .load-more {
                padding-bottom: 30px;
                text-align: center;
                .column {
                    a {
                        display: block;
                        font-family: $font1;
                        font-size: 24px;
                        line-height: 20px;
                        color: $color14;
                    }
                    span {
                        display: block;
                        padding-top: 5px;
                        padding-bottom: 20px;
                        font-size: 24px;
                        color: $color14;
                        &.addline {
                            border-bottom: 1px solid $white;
                        }
                    }
                }
            }
            .load-more-content {
                margin-bottom: 20px;
                &.addline {
                    border-bottom: 1px solid $white;
                }
            }
            .agree {
                .column {
                    text-align: center;
                    form {
                        label {
                            margin-right: 10px;
                            vertical-align: top;
                        }
                        input {
                            display: inline-block;
                            margin-top: 7px;
                            margin-right: 5px;
                            vertical-align: top;
                        }
                        .desc {
                            display: inline-block;
                            text-align: left;
                            p {
                                color: $color12;
                                margin: 0;

                            }
                        }
                        a {
                            text-align: center;
                            clear: both;
                            display: inline-block;
                            margin-top: 20px;
                            padding-top: 10px;
                            padding-bottom: 10px;
                            background-color: $color1;
                            font-family: $font1;
                            font-size: 21px;
                            line-height: 24px;
                            @include radius(5px);
                        }
                    }
                }
            }
            &:after {
                content: " ";
                display: table;
                margin: 0 auto 30px;
                background: url('../img/ft-act.png');
                width: 429px;
                height: 183px;
            }
        }
        .post-navigation {
            margin-top: -1px;
            position: relative;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: $color15;
            -webkit-border-bottom-right-radius: 50px;
            -webkit-border-bottom-left-radius: 50px;
            -moz-border-radius-bottomright: 50px;
            -moz-border-radius-bottomleft: 50px;
            border-bottom-right-radius: 50px;
            border-bottom-left-radius: 50px;
            .curve {
                position: absolute;
                top: 0;
                width: 100%;
                height: 25px;
                background-color: $color13;
                -moz-border-radius-bottomleft: 50px 25px;
                border-bottom-left-radius: 50% 25px;
                -moz-border-radius-bottomright: 50px 25px;
                border-bottom-right-radius: 50% 25px;
            }
            .row {
                .column {
                    padding-left: 30px;
                    padding-right: 30px;
                    text-align: center;
                    h3 {
                        max-width: 320px;
                        min-height: 65px;
                        margin: 20px auto 0;
                        a {
                            display: inline-block;
                            font-family: $font1;
                            font-size: 30px;
                            line-height: 32px;
                            color: $color14;
                        }
                    }
                    a {
                        &.button {
                            display: inline-block;
                            margin-top: 20px;
                            margin-bottom: 10px;
                            padding: 4px 20px;
                            background-color: $white;
                            font-family: $font1;
                            font-size: 20px;
                            color: $color16;
                            @include radius(30px);
                        }
                    }
                }
            }
        }
        .back {
            position: absolute;
            a {
                &.button {
                    margin-top: 40px;
                    padding: 0 20px 0 20px;
                    background-color: transparent;
                    border: 1px solid $white;
                    font-family: $font1;
                    font-size: 28px;
                    line-height: 43px;
                    @include radius(30px);
                }
                span {
                    padding-right: 10px;
                    font-size: 22px;
                }
            }
        }
	}
}

.activity-single .row .content .featured .row {
    padding-left: 0;
    padding-right: 0;
}

.activity-group.activity-gallery .row .content .featured .row .item .desc {
    min-height: 380px;
}

@media only screen and (max-width: 40em) {

    .activity-single-head {
        max-height: 300px;
        .header {
            padding-left: 15px;
            padding-right: 15px;
            width: auto;
            margin: 0;
            text-align: center;
            .title {
                h1 {
                    margin-top: 30px;
                    height: 124px;
                    overflow: hidden;
                    line-height: 43px;
                }
            }
        }
    }

    .activity-single-head .header .social p {
        margin-top: 10px;
    }
/*
    .activity-single-head .header .social ul li {
        padding-right: 8px;
    }

    .activity-single-head .header .social ul li a {
        font-size: 24px;
        line-height: 20px;
    }
*/
    .activity-gallery-head {
        max-height: 212px;
    }

    .activity-single {
        margin-bottom: 80px;
        .row {
            .content {
                &:after {
                    background: url("../img/ft-act-s.png");
                    width: 219px;
                    height: 93px;
                }
                .featured {
                    .row {
                        .item {
                            .desc {
                                min-height: 180px;
                            }
                        }
                    }
                }
                .activity-single-detail {
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
            .post-navigation {
                .row {
                    margin: 0;
                    padding-top: 0;
                    .column {
                        padding-left: 15px;
                        padding-right: 15px;
                        text-align: center;
                        a {
                            &.button {
                                padding: 4px 15px;
                                margin-top: 20px;
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
            }
            .back {
                width: 100%;
                text-align: center;
                a {
                    &.button {
                        margin-top: 110px;
                    }
                }
            }
        }
    }

    .activity-single .row .content .featured .curve {
        height: 15px;
        border-top-left-radius: 50% 15px;
        border-top-right-radius: 50% 15px;
    }

    .activity-single .row .content .activity-single-detail p {
        padding-left: 20px;
        padding-right: 20px;
    }

    .activity-single .row .content .featured .row .item .desc ul {
        position: static;
        padding-bottom: 20px;
    }

    .activity-single .row .content .featured .row .item .desc .points {
        padding-bottom: 20px;
        padding-top: 0;
    }

    .activity-single .row .content .featured .row .item .desc ul li .icon {
        width: 15%;
    }

    /* Activity-single.html */
    .activity-single .row .content .agree .column form label {
        float: left;
    }
    .activity-single .row .content .agree .column form .desc {
        display: block;
        margin-left: 30px;
    }

    .activity-single .row .post-navigation .row .column h3 {
        display: none;
    }

    .activity-single .row .post-navigation {
        padding-bottom: 30px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
    }

    .activity-single .row .content .featured .row .item .desc {
        padding-top: 20px;
    }

    .activity-single .row .back {
        width: 100%;
        text-align: left;
        padding-left: 20px;
    }

    .activity-single .row .content .featured .row .item .desc .points p {
        font-size: 40px;
    }

    .activity-single .row .content .activity-single-detail article {
        padding-top: 20px;
    }

    .activity-group.activity-gallery .row .content .featured .row .item .desc {
        min-height: inherit;
    }

}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .activity-single-head {
        max-height: 160px;

        &:after {
            content: "";
            display: block;
            width: 100%;
            height: 140px;
            background: $color35;
        }
    }

    .activity-single .row .back {
        width: 100%;
        text-align: center;
    }

    .activity-single .row .back a.button {
        margin-top: 130px;
    }

    .activity-single .row .content .featured .row .item .desc {
        min-height: 190px;
    }

    .activity-single .row .content .featured .row .item .desc ul {
        position: static;
        padding-bottom: 20px;
    }

    .activity-single .row .content .featured .row .item .desc .points {
        padding-bottom: 20px;
        padding-top: 0;
    }

    .points p {
        font-size: 40px !important;
    }

    .activity-single .row .content .featured .row .item .desc ul li .icon {
        width: 10%;
    }

    .activity-single-head .header .title h1 {
        margin-top: 45px;
    }

    .activity-single-head .header .social {
        padding-left: 0;
        padding-right: 0;
    }

    .activity-single-head .header .social p {
        margin-top: 35px;
        font-size: 20px;
    }

    .activity-single-head .header .social ul li {
        padding-right: 5px;
    }

    .activity-single-head .header .social ul li a {
        font-size: 24px;
        line-height: 20px;
    }

    .activity-single .row .content .featured .row .item .desc {
        padding-top: 20px;
    }

    .activity-single .row .post-navigation .row .column {
        text-align: center;
        padding-left: 50px;
    }

    .activity-group.activity-gallery .row .content .featured .row .item .desc {
        min-height: inherit;
    }
}


@media only screen and (min-width: 640px) and (max-width: 768px) {

}

.msie .activity-single .row .content:after {
    margin-top: -1px;
}