.privilege-head {
    position: relative;
    text-align: left;
    picture {
        img {
            width: 100%;
        }
    }
    .header {
        position: absolute;
        top: 0;
        width: 100%;
        .dropdown {
            text-align: right;
            margin-top: 55px;
            .row {
                .small-centered {
                    margin-left: 0;
                    margin-right: 0;
                    width: 100%;
                    form.custom .custom.dropdown {
                        height: 45px;
                    }
                    form.custom .custom.dropdown {
                        padding-top: 5px;
                    }
                    form.custom .custom.dropdown .selector {
                        top: 5px;
                    }
                    .button {
                        height: 45px;
                        margin-top:25px; 
                    }
                    select {
                        padding: 0 0.5rem;
                        margin-bottom: 0;
                        font-family: $font1;
                        font-size: 20px;
                        border: 2px solid $color17;
                        background-color: $white;
                        color: $color1;
                        @include radius(5px);
                    }
                }
            }
        }
        .search {
            form {
                position: relative;
                margin-top: 55px;
                input {
                    background-color: $color1;
                    border: 0;
                    font-size: 14px;
                    line-height: 20px;
                    color: $white;
                    @include radius(5px);

                    .msie & {
                        padding-top: 10px;
                    }

                    &::-webkit-input-placeholder {
                       color: $white;
                    }

                    &:-moz-placeholder {
                       color: $white;  
                    }

                    &::-moz-placeholder {
                       color: $white;  
                    }

                    &:-ms-input-placeholder {  
                       color: $white;  
                    }
                }
                button {
                    position: absolute;
                    right: 0;
                    top: 0;
                    padding: 10px;
                    background-color: transparent;
                    box-shadow: none;
                    border: 0;
                    @include radius(5px);
                    span {
                        font-size: 22px;
                        line-height: 18px;
                    }
                }
            }
        }
    }
}

.privilege-page {
	.row {
        .content {
            .featured {
                position: relative;
                background-color: $white;
                -webkit-border-bottom-right-radius: 50px;
                -webkit-border-bottom-left-radius: 50px;
                -moz-border-radius-bottomright: 50px;
                -moz-border-radius-bottomleft: 50px;
                border-bottom-right-radius: 50px;
                border-bottom-left-radius: 50px;
                .row {
                    padding-left: 50px;
                    padding-right: 50px;
                    .item {
                        padding-left: 0;
                        padding-right: 0;
                        .image {
                            position: relative;
                            .highlight {
                                position: absolute;
                                pointer-events: none;
                                top: 10px;
                                left: 10px;
                                img {
                                    max-width: 36px;
                                    width: auto;
                                    height: auto;
                                }
                            }
                            img {
                                width: 100%;
                            }
                            .curve {
                                position: absolute;
                                bottom: 0;
                                width: 100%;
                                height: 15px;
                                background-color: $white;
                                -moz-border-radius-topleft: 50% 15px;
                                border-top-left-radius: 50% 15px;
                                -moz-border-radius-topright: 50% 15px;
                                border-top-right-radius: 50% 15px;
                            }
                        }
                        .brand {
                            margin-top: 20px;
                            padding-left: 30px;
                            padding-right: 30px;
                            position: relative;
                            .image {
                                display: inline-block;
                                width: 28%;
                                img {
                                    width: 100%;
                                }
                            }
                            .title {
                                display: inline-block;
                                padding-left: 5px;
                                width: 70%;
                                vertical-align: top;
                                font-family: $font1;
                                font-size: 24px;
                                color: $color17;
                            }
                        }
                        .desc {
                            padding-left: 15px;
                            padding-right: 15px;
                            h3 {
                                height: 107px;
                                min-height: 60px;
                                overflow: hidden;
                                margin-top: 15px;
                                font-family: $font1;
                                font-size: 30px;
                                line-height: 36px;
                                color: $color1;
                            }
                            span {
                                display: inline-block;
                                padding-top: 10px;
                                padding-right: 5px;
                                font-size: 28px;
                                color: $color17;
                            }
                            time {
                                display: inline-block;
                                font-size: 18px;
                                color: $color17;
                            }
                            p {
                                height: 94px;
                                overflow: hidden;
                                margin-bottom: 0;
                                padding-top: 10px;
                                font-size: 18px;
                                color: $color18;
                            }
                            .cat {
                                display: block;
                                padding: 10px 0;
                                font-family: $font1;
                                color: $color19;
                            }
                            .icon {
                                display: block;
                                padding: 10px 30px 35px;
                                text-align: center;
                                span {
                                    padding: 10px;
                                    font-size: 30px;
                                    border: 1px solid $color20;
                                    color: $color20;
                                    @include radius(50%);
                                }
                            }
                        }
                        &:nth-child(3n+1) {
                            clear: both;
                        }
                    }
                }

                .load-more {
                    padding-bottom: 30px;
                    text-align: center;
                    .column {
                        a {
                            display: block;
                            font-family: $font1;
                            font-size: 30px;
                            line-height: 24px;
                            color: $color14;
                        }
                        span {
                            display: block;
                            padding-top: 10px;
                            font-size: 30px;
                            color: $color14;
                        }
                    }
                }
            }
            &:after {
                content: " ";
                display: table;
                margin: 0 auto 30px;
                background: url('../img/ft-privilege-page.png');
                width: 429px;
                height: 183px;
                position: relative;
                top: -1px;
            }
        }
	}
}

.privilege .highlight {
    position: absolute;
    right: 0;
    top: -20px;
    width: 25%;
    text-align: right;
    pointer-events: none;

    .checked {
        max-width: 36px;
    }
}

.privilege-page .row .content .featured .row .item .brand .title {
    padding-right: 44px;
    height: 62px;
    overflow: hidden;
}

.privilege .reg .row .content::after {
    display: none;
}

@media only screen and (max-width: 40em) {

    .privilege.privilege-main, .privilege.privilege-single {
        margin: 0;
    }

    .privilege-head {
        max-height: 174px;
        .header {
            margin: 0;
            .dropdown {
                margin-top: 45px;
            }
            .search {
                form {
                    margin-top: 15px;
                }
            }
        }
    }

    .privilege-page {
        .row {
            .content {
                .featured {
                    .row {
                        margin: 0;
                        padding-left: 0;
                        padding-right: 0;
                        .item {
                            .brand {
                                .image {
                                    width: 25%;
                                }
                                .title {
                                    margin-top: 20px;
                                    padding-right: 0;
                                    line-height: 1;
                                }
                            }
                        }
                    }
                }
                &:after {
                    background: url("../img/ft-privilege-page-s.png");
                    width: 219px;
                    height: 94px;
                }
            }
        }
    }

    .privilege-head {
        margin-top: 10px;

        &:after {
            display: none;
        }
    }

    .privilege-page .row .content .featured .row .item .desc {
        padding-left: 20px;
        padding-right: 20px;
    }

    .privilege .highlight {
        right: 5px;
    }

}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .privilege-head {
        max-height: 180px;

        &:after {
            content: "";
            display: block;
            width: 100%;
            height: 80px;
            background: $white;
        }
    }

    .privilege-head .header .row .columns,
    .privilege-head .header .column.search {
        padding-left: 50px;
        padding-right: 50px;
    }

    .privilege-head .header .column.search form {
        margin-top: 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 970px) {

    .privilege-page {
        .row {
            .content {
                .featured {
                    .row {
                        .item {
                            .brand {
                                padding-left: 15px;
                                padding-right: 15px;
                                .title {
                                    width: 68%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}
/*

@media only screen and (min-width: 640px) and (max-width: 768px) {

    .privilege-page {
        .row {
            .content {
                .featured {
                    .row {
                        .item {
                            width: 50%;
                            .brand {
                                padding-left: 15px;
                                padding-right: 15px;
                                .title {

                                }
                            }
                            &:nth-child(3n+1) {
                                clear: inherit;
                            }
                            &:nth-child(2n+1) {
                                clear: both;
                                float: left;
                            }
                        }
                    }
                }
            }
        }
    }

}
*/

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

    .privilege-page {
        .row {
            .content {
                .featured {
                    .row {
                        .item {
                            width: 50%;
                            .brand {
                                padding-left: 15px;
                                padding-right: 15px;
                                .title {

                                }
                            }
                            &:nth-child(3n+1) {
                                clear: inherit;
                            }
                            &:nth-child(2n+1) {
                                clear: both;
                                float: left;
                            }
                        }
                    }
                }
            }
        }
    }

}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {

    .privilege-page {
        .row {
            .content {
                .featured {
                    .row {
                        .item {
                            width: 33.33333%;
                        }
                    }
                }
            }
        }
    }
}

.msie .privilege-page .row .content .featured .row {
    margin-top: -1px;
}